body {background: black;}
@font-face {
    font-family: bosque;
    src: url("bosque encantado.ttf");
    
}
#container {
    margin: 50px auto 0 auto;
    padding: 5px;
   
    height: auto;
    width: 1280px;
    
    text-align: center;
}

#side {
     float:right;  
     clear: right;
     margin-left: 20px;
     color:antiquewhite;
}
a {
	background: antiquewhite;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
    font-family:"bosque";
	-webkit-box-shadow: 0 4px 6px 5px floralwhite;
	-moz-box-shadow: 0 4px 6px 5px floralwhite;
	box-shadow: 0 4px 6px 5px floralwhite;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
}

a:after {
    color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}
img { 
	display: block; 
	width: inherit; 
	height: 200px;
}

a:nth-child(1n):hover {
    position:relative;
    -webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
	z-index:10;
	-webkit-box-shadow: 0 15px 30px 20px floralwhite;
	-moz-box-shadow: 0 15px 30px 20px floralwhite;
    box-shadow: 0 15px 30px 20px floralwhite;
}
a:nth-child(1n):focus {
    position:relative;
    -webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
	z-index:10;
	-webkit-box-shadow: 0 15px 30px 20px floralwhite;
	-moz-box-shadow: 0 15px 30px 20px floralwhite;
    box-shadow: 0 15px 30px 20px floralwhite;
}

a:nth-child(1n) {
    -webkit-transform: rotate(-3deg);  
	-moz-transform: rotate(-3deg); 
	transform: rotate(-3deg); 
}
a:nth-child(2n) {
    -webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
}
a:nth-child(3n) {
    -webkit-transform: rotate(9deg);  
	-moz-transform: rotate(9deg); 
	transform: rotate(9deg); ; 
}
a:nth-child(4n) {
    -webkit-transform: rotate(-15deg);  
	-moz-transform: rotate(-15deg); 
	transform: rotate(-15deg);
}
a:nth-child(5n) {
    -webkit-transform: rotate(7deg);  
	-moz-transform: rotate(7deg); 
	transform: rotate(7deg);
}
