#container {
        margin: 5px;
    padding: 5px;

    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

#side {
     float:right;  
     clear: right;
     margin-left: 20px;
}
a {
	background: antiquewhite;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	/* Font-family!!! */
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
}

a:after {
    color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}
img { 
	display: block; 
	width: inherit; 
	height: 200px;
}
a:hover {
    z-index:1;
}
a:nth-child(1n) {
    -webkit-transform: rotate(-3deg);  
	-moz-transform: rotate(-3deg); 
	transform: rotate(-3deg); 
}
a:nth-child(2n) {
    -webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
}
a:nth-child(3n) {
    -webkit-transform: rotate(9deg);  
	-moz-transform: rotate(9deg); 
	transform: rotate(9deg); ; 
}
a:nth-child(4n) {
    -webkit-transform: rotate(-15deg);  
	-moz-transform: rotate(-15deg); 
	transform: rotate(-15deg);
}
a:nth-child(5n) {
    -webkit-transform: rotate(7deg);  
	-moz-transform: rotate(7deg); 
	transform: rotate(7deg);
}
