body {width: 480px;float:left }
h1 {font-size: 55px;}
h2 {font-size: 50px;}
h3 {font-size: 42px;}

#wrapper { width: 198%; ;
    
}

#header { width: 100%;
    
}

#main { width: 99%;
    font-size: 30px;
}

#bloglist { width: 100%;
    font-size: 30px;
    border: none;
}

#footer { width: 198%;
    font-size: 26px;
    height: auto;
    line-height: 30px;
}
#footer > ol {
    text-align: left;
}

#table { width: 100%;
    overflow:scroll;
    font-size: 30px;
}

#form { width: 100%;
    font-size: 42px;
    height: 100%;
    
}

#nav { width: 100%;
    font-size: 42px;
    line-height: 10px;
    height: 150%;
    margin-right: -20px;
    margin-bottom: 50px;
   
}
input[type="checkbox"] /* will not work */
{ 
    padding: 10px;
    transform:scale(5,5);
}

textarea {
    max-width: 480px;
    width: 460px;
}
.navmenu li a {
    font-size: 50px;    
    padding: 10px 30px;
    background: none;
    float: left;
    
}

#logo { 
    width: 200px;
    float: right;
    margin-top: -160px;
    margin-right: 60px;
}


