p {color: #DCDCDC;}
table {text-align: center;}

a:link { color: #00BFFF; }
a:visited { color: purple; }
a:focus { color: yellow; }
a:hover { color: yellow; }
a:active { color: silver; }


#header {
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color:black;
    color: #DCDCDC;
    text-align: center;
    padding: 5px;
}


#main {
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color: black;
    color: #DCDCDC;
    text-align: left;
    padding: 10px; 
}
#footer {
    border-style: inset;
    border-width: 5px;
    border-color: gray;
    background-color: black;
    color: #DCDCDC;
    clear: both;
    text-align: center;
    padding: 5px; 
}
#table {
    text-align: center;
    margin: 0 auto;
    width: 280px;
    /* Kan behöva komma att ändra storlek allt eftersom; dela upp i Laborationer/kolumner? */
    height: 645px;
    margin-left: auto;
    margin-top: auto;
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color:black;
    color: gray;
    padding: 5px;
}
/* för form i kontakt.html vars sidas formatering inte fungerar? */
#form {
    height: 100%;
    float: left;
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color:black;
    color: #DCDCDC;
    padding: 5px;
}


#nav {
    margin: 0;
    padding: 5;
    width:250px;
    border-style: outset;
    border-width: 5px;
    border-color:gray;
    background-color: black;
    color: #DCDCDC;
    height: 300px;
    width: 240px;
    float: right;
    padding: 5px;
    
}
.navmenu { 
    list-style: none; 
}
.navmenu li a:hover {
    background-color: gray;
    color: yellow;
}
.navmenu li a:focus {
    background-color: gray;
    color: yellow;
}
.navmenu li a {
    line-height: 30px;
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color: black;
    color: #DCDCDC;
    display: block;
    width: 80%;
    padding: 0px 10px;
}
#active {
    display: block;
    font-weight: bold;
    background-color: gray;
}