html, body {height: 100%;}
dt {margin-top: 5px;}
h1, h2, h3 { color: #DCDCDC;}
h4 { color: #D3D3D3; text-decoration: underline; }

a:link { color: #00BFFF; }
a:visited { color: purple; }
a:focus { color: yellow; }
a:hover { color: yellow; }
a:active { color: silver; }

body {
    background-color: black;
    font-family: "Times New Roman", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 1280px;
    color: #DCDCDC;
    text-align: center;
    margin: auto auto;
}
#wrapper {
    background-color: black;
    min-height: 100%;
    margin: 0 auto -120px auto;
    width: 1280px;
}
#header {
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color:black;
    color: #DCDCDC;
    text-align: center;
    padding: 5px;
    margin: auto 0 auto 0;
}
#main {
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color: black;
    color: #DCDCDC;
    text-align: left;
    padding: 10px;
    margin: auto 0 auto 0;
}
/* För att få sticky footer */
#wrapper:after {
    content:"";
    display:block;
    height: 120px;
}
#footer {
    border-style: inset;
    border-width: 5px;
    border-color: gray;
    background-color: black;
    color: #DCDCDC;
    clear: both;
    text-align: center;
    padding: 5px;
    height: 120pX;
    margin: 0 auto 0 auto;
}
#bloglist {
    border-style: inset;
    border-width: 5px;
    border-color: gray;
    background-color: black;
    color: #DCDCDC;
    text-align: left;
    width: 800px;
}
#table {
    text-align: center;
    margin: 0 auto auto auto;

    /* Kan behöva komma att ändra storlek allt eftersom; dela upp i Laborationer/kolumner? */
    width: 730px;
    height: 390px;
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color:black;
    color: #DCDCDC;
    padding: 5px;
}
table, th, td {
    border: 1px;
    border-style: solid;
    border-color: gray;
}
#form {
    height: 100%;
    width: 400px;
    /*  margin-bottom negativt tal för att få navigationen att ligga rätt, men footern har fortfarande avstånd? */
    margin: 50px auto 0 auto;
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color:black;
    color: #DCDCDC;
    padding: 5px;
}
#nav {
    margin-right: 0px;
    padding: 5;
    width:250px;
    border-style: outset;
    border-width: 5px;
    border-color:gray;
    background-color: black;
    color: #DCDCDC;
    height: 450px;
    float: right;
    padding: 5px;
}
.navmenu { 
    list-style: none; 
    margin: auto auto;
}
.navmenu li a:hover {
    background-color: gray;
    color: yellow;
}
.navmenu li a:focus {
    background-color: gray;
    color: yellow;
}
.navmenu li a {
    line-height: 30px;
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color: black;
    color: #DCDCDC;
    display: block;
    width: 65%;
    padding: 0px 10px;
}
#active {
    display: block;
    font-weight: bold;
    background-color: gray;
}
/* Logo, endast för #nav */
#logo {
    display: block;
    height: 200px;
    background-image: url(pics/logo2.png);
}
/* thumb bild för blogginlägg */
.thumb {
    display: block;
    height: 16px;
    width: 20px;
    background-image: url(pics/thumb2.png);
    float: left;
    margin: 2px;
}
.rightBlog {
    float: right;
    border-style: outset;
    border-width: 5px;
    border-color: gray;
}
img.rightBlog {
    float: right;
    margin-right: 20px;
}
.leftBlog {
    float: left;
    margin: 10px;
    border-style: inset;
    border-width: 5px;
    border-color: gray;
}
.center {
    display: block;
    margin: 20px auto 20px auto;
}